h2 {margin:0;}

body{
    position: relative;
    width: 21cm;
    height: 29.7cm;
    max-width:1000px;
    margin: 0 auto;
    background: lightgrey;
}
nav{
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  vertical-align: text-bottom;
  border-bottom: thin solid;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.resumeContainer{
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    padding: 0px 20px;
}

.myHeaderContainer{
    width: 100%;
}

.myHeader{
}

.nameo{
    font-size: 300%;
    margin-bottom: 2%;
}

.jobTitle{
  margin-top: 0;
  font-size: 50%;
}

.section{
}

.sectionDes{
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
        font-weight: bold;
}

.sectionHeader h2{
    border-bottom: thin solid;
    margin-bottom: 0.5%;
}